---
name: Pull Request validation

on:
  - pull_request

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v6

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6

      - name: Run pre-commit checks
        id: pre-commit
        uses: cloudposse/github-action-pre-commit@v4.0.0
